.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.false {
  display: none;
}
.true {
  display: none;
}
